.header__main-illustration {
    width: 756px;
    height: 608px;
    background-image: url(../__main-illustration/two_again.png);
    background-size: cover;
    position: absolute;
    bottom:0;
    right:0;
}